name: Rust CI/CD
on:
  push:
    branches:
      - master
jobs:
  build_and_test:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install Rust
        uses: rust/actions/setup-rust@v1
      - name: Install Cargo Wrapper
        run: cargo install cargo-make --force
      - name: Build Project
        run: cargo make build
      - name: Test Project
        run: cargo make test